<html>

<body>
    <form method="post" action="fileupload-process" enctype="multipart/form-data">

        Name : <input type="text" name="txt1">
        File :<input type="file" name="file123">
<input type="submit">
    </form>
</body>
</html>