<div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="/">Homepage</a></li>
             
             
                <li><a href="/about">About</a></li>
             
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <!-- end #menu --> 
    </div>
    <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">akash technolabs</a></h1>
                    
                </div>
            </div>
        </div>